.stm-mm-top-vehicles {
    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #002e5b !important;
        margin-bottom: 19px;
    }

    .stm-mm-vehicles-list {

        ul.top-vehicles {
            margin: 0;
            padding: 0;
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            li {
                display: block;
                width: 47% !important;
                padding: 0;
                margin: 0 0 5px;

                a {
                    display: block;
                    overflow: hidden;
                    padding: 9px 0 9px 13px !important;
                    font-size: 13px !important;
                    font-weight: 400;
                    color: #777777 !important;
                    position: relative;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:before {
                        content: '' !important;
                        display: block !important;
                        width: 3px;
                        height: 3px;
                        background: #1bc744;
                        border-radius: 3px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        opacity: 1 !important;
                    }

                    &:hover {
                        background: transparent !important;
                        color: #1bc744 !important;
                    }
                }
            }
        }
    }
}