// Mixins
@import "sass/mixins";
@import "sass/vars";

.stm-template-listing_two {
    &.post-type-archive-stm_review {
        ul.page-numbers {
            padding-bottom: 40px;
        }
    }

    .select2-container--default {
        z-index: 101;
    }

    #wrapper {

        h1, h2, h3, h4, h5, h6 {
            letter-spacing: -1px;
        }

        #top-bar {
            .top-bar-wrapper {
                padding: 12px 0;
                border-bottom: 0;
            }

            .header-top-bar-socs {
                ul {
                    li {
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            .fa {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        #header {
            .header-listing {
                padding: 5px 0;

                .listing-menu {
                    margin-top: 18px !important;

                    > li {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .stm-badge-directory {
            position: absolute;
            left: -65px;
            padding: 0 55px;
            top: 20px;
            width: 200px;
            height: 33px;
            line-height: 33px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background-color: $listing_blue;
            color: $white !important;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .stm-listing-directory-list-loop.stm-isotope-listing-item {
            .stm-badge-directory {
                left: unset;
                right: -65px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        .listing-list-loop {
            .image {
                .image-inner {
                    .stm-badge-directory {
                        z-index: 3;
                    }

                    img {
                        z-index: 2;
                        position: relative;
                    }
                }
            }
        }

        .stm-featured-top-cars-title {
            margin-bottom: 25px;
            position: relative;
            padding-right: 120px;
            border-bottom: 3px solid $listing_blue;

            .heading-font:after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                right: -14px;
                height: 100%;
                width: 32px;
                background-color: $listing_blue;
                -moz-transform: skew(45deg, 0deg);
                -o-transform: skew(45deg, 0deg);
                -ms-transform: skew(45deg, 0deg);
                -webkit-transform: skew(45deg, 0deg);
                transform: skew(45deg, 0deg);
                z-index: -1;
            }

            .heading-font {
                position: relative;
                display: inline-block;
                padding: 3px 16px;
                color: $white;
                background-color: $listing_blue;
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
            }

            a {
                position: absolute;
                right: 3px;
                bottom: 3px;
                font-size: 13px;
                color: $gray-77;
            }
        }

        .stm-directory-grid-loop {
            .image {
                .stm-car-medias {
                    left: inherit;
                    right: 0;

                    > div {
                        margin-right: 7px;
                    }
                }
            }
        }

        .post-grid-single-unit {
            .content {
                background: $white;

                .title-relative {
                    a {
                        .title {
                            font-weight: 500;
                        }
                    }
                }

                .post-meta-bottom {
                    .blog-meta-unit {
                        i {
                            &:before {
                                color: $listing_blue;
                            }
                        }
                    }
                }
            }
        }

        .stm-inventory-map-wrap {
            .stm_map_info_window_wrap {
                .stm_iw_condition {
                    font-weight: 500;
                }

                .stm_iw_title {
                    font-size: 14px;
                    font-weight: 700;
                }

                .stm_iw_car_price {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .stm-car-carousels {
            .stm-car-medias {
                position: absolute;
                right: 7px;
                top: 74%;
                left: inherit;
                z-index: 20;

                > div {
                    display: inline-block;
                    margin-right: 9px;
                    padding: 4px 15px 2px 10px;
                    border-radius: 2px;
                    background: rgba(0, 0, 0, 0.3);
                    color: $white;
                    font-size: 11px;
                    line-height: 22px;
                    font-weight: 600;

                    i {
                        font-size: 12px;
                        margin-right: 2px;
                    }

                    span {
                        position: relative;
                        top: -1px;
                        text-transform: uppercase;
                    }

                    &:hover {
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.6);
                    }

                    &.stm-listing-videos-unit {
                        i {
                            position: relative;
                            top: -1px;
                            left: 1px;
                            margin-right: 3px;
                        }
                    }
                }
            }

            .stm-gallery-actions {
                position: absolute;
                right: 7px;
                top: 16px;
                z-index: 20;

                .stm-gallery-action-unit {
                    position: relative;
                    float: left;
                    width: 28px;
                    height: 28px;
                    margin-right: 9px;
                    background: rgba(0, 0, 0, 0.3);
                    text-align: center;
                    line-height: 28px;
                    overflow: hidden;
                    border-radius: 2px;

                    a {
                        border: 0;
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;

                        i {
                            margin-left: -2px;
                        }
                    }

                    i {
                        color: $white;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        background: -moz-linear-gradient(90deg, $listing_blue 0%, $listing_blue_dark 100%);
                        background: -webkit-linear-gradient(90deg, $listing_blue 0%, $listing_blue_dark 100%);
                        background: -o-linear-gradient(90deg, $listing_blue 0%, $listing_blue_dark 100%);
                        background: -ms-linear-gradient(90deg, $listing_blue 0%, $listing_blue_dark 100%);
                        background: linear-gradient(180deg, $listing_blue 0%, $listing_blue_dark 100%);
                    }

                    .st_sharethis_large {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                    }
                }
            }
        }

        .stm-multiple-select .select2-search .select2-search__field,
        .stm-multiple-select h5 {
            color: $listing_green_dk;
        }

        .select2-container--default {
            .selection {
                .select2-selection--multiple {
                    border: 1px solid rgba(0, 0, 0, 0.5) !important;
                }
            }
        }

        .stm-blog-pagination,
        .stm-ajax-pagination {
            .page-numbers {
                margin-bottom: 10px;
            }
        }

        .stm-pricing-table__price {
            min-height: 48px;
            line-height: 48px;
        }

        .stm-pricing-table__feature {
            padding: 9px 15px;
        }

        .stm_review_excerption, blockquote {
            display: block;
            overflow: hidden;
            padding: 24px 24px 24px 94px;
            border-top: 2px solid $listing_green_dk;
            border-bottom: 2px solid $listing_green_dk;
            position: relative;
            line-height: 25px;
            font-weight: 700;

            &:after {
                display: none;
            }

            &:before {
                content: '\1257';
                font-family: 'stm-review-font';
                font-size: 30px;
                color: $listing_blue;
                position: absolute;
                top: 50%;
                left: 3.4%;
                transform: translateY(-50%);
            }

            p {
                font-size: 14px;
                line-height: 25px !important;
                margin: 0 !important;
                padding: 0;
            }
        }

        .archive-listing-page {
            .listing-list-loop {
                .image {
                    max-width: 280px;
                    margin-right: 21px;
                }
            }
        }

        #modern-filter-listing {
            .listing-list-loop .content {
                .meta-middle {
                    .meta-middle-unit {
                        display: block;
                        width: auto;
                        max-width: 25%;
                        margin: 0 10px 10px 0;
                        padding: 0 10px 0 0;
                        border-right: 0;
                        position: relative;

                        &.meta-middle-divider {
                            display: none;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            display: block;
                            top: 0;
                            right: 0;
                            width: 1px;
                            height: 100%;
                            background-color: #ddd;
                        }

                        &:nth-last-child(2) {
                            padding-right: 0;
                            margin-right: 0;

                            &:after {
                                display: none;
                            }
                        }

                        .value {
                            .stm-tooltip-link {
                                display: block;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }

        .vc_slide.vc_images_carousel.vc_build {
            .vc_carousel-control {
                height: 40px;
                &.vc_left {
                    left: 3%;

                    span {
                        width: 40px;
                        height: 50px;
                        top: 22%;
                        left: 0;
                        margin-left: 0;

                        &:before {
                            content: "\f104";
                            font-family: 'FontAwesome';
                            font-size: 64px;
                            color: $white;
                        }
                    }
                }
                &.vc_right {
                    right: 3%;

                    span {
                        width: 40px;
                        height: 50px;
                        top: 22%;
                        right: 0;
                        margin-right: 0;

                        &:before {
                            content: "\f105";
                            font-family: 'FontAwesome';
                            font-size: 64px;
                            color: $white;
                        }
                    }
                }
            }

            .vc_carousel-indicators {
                bottom: 34px;

                li {
                    width: 12px;
                    height: 12px;
                    border: 2px solid $gray-dd;
                    background-color: transparent;
                    margin: 0 4px;

                    &.vc_active {
                        background-color: $listing_blue;
                        border: 0;
                    }
                }
            }
        }
    }

    .stm_select_overflowed {
        .select2-dropdown.select2-dropdown--below {
            margin-top: -45px;
        }

        .select2-search .select2-search__field {
            height: 45px;
        }
    }

    .stm_dynamic_listing_two_filter {
        position: relative;

        .stm_dynamic_listing_filter_nav {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                float: left;
                margin-bottom: 0;

                a {
                    position: relative;
                    display: block;
                    padding: 16px 43px 13px 35px;
                    font-weight: 700;
                    font-size: 15px;
                    text-decoration: none !important;
                    letter-spacing: -0.4px;
                    z-index: 2;
                }
            }
        }

        .tab-content {
            padding: 38px 30px 38px;

            .tab-pane {
                position: relative;
                z-index: 2;

                &.active {
                    &.expanded {
                        flex-direction: column;

                        .stm-filter-tab-selects {
                            padding-right: 0;
                        }
                    }
                }

                .motors-gdpr {
                    margin: 0 0 0 -7px !important;
                    line-height: 22px;
                }
            }

            form {
                width: 100%;
            }

            .stm-filter-tab-selects {
                width: 100%;
                overflow: hidden;
                transition: all .3s ease-in;

                .stm-select-col {
                    margin-bottom: 30px;
                    padding: 0 8px;
                }

                .col-md-12 {
                    padding: 0 15px;
                }

                > .row {
                    margin: 0 -8px;
                }
            }
        }
    }

    .stm-zi-1 {
        z-index: 0;
    }

    .stm-button,
    input[type="submit"],
    button,
    .button,
    .load-more-btn {
        box-shadow: 0 2px 0 #1e7bcc;
    }

    .lOffer-account {
        padding-top: 1px;
    }

    .stm-service-icon-user {
        &:before {
            content: '\f2bd';
            font-family: 'FontAwesome';
            font-size: 20px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
        }

        vertical-align: middle;
        position: relative;
        top: -2px;

    }

    .stm_add_car_form {
        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="email"],
        input[type="search"],
        input[type="password"] {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
        }
    }

    #footer {
        #footer-main {
            .footer_widgets_wrapper {
                padding: 20px 0;

                .container {
                    .widgets {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;

                        .widget_text {
                            width: auto;

                            .widget-wrapper {
                                margin-bottom: 0;

                                p {
                                    margin-bottom: 0;

                                    img {
                                        margin: 5px 0;
                                    }
                                }
                            }
                        }

                        .widget_nav_menu {
                            width: auto;
                            margin: 0 auto;
                            .widget-wrapper {
                                margin-bottom: 0;

                                .menu-bottom-menu-container {
                                    ul {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: nowrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0;
                                        margin: 0;
                                        list-style: none;

                                        li {
                                            display: block;
                                            margin-bottom: 0;

                                            &:last-child {
                                                a {
                                                    &:after {
                                                        display: none;
                                                    }
                                                }
                                            }

                                            a {
                                                display: block;
                                                color: $white;
                                                opacity: 0.5;
                                                padding: 0 20px;
                                                position: relative;

                                                &:after {
                                                    content: '';
                                                    display: block;
                                                    width: 1px;
                                                    height: 10px;
                                                    background: $white;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 100%;
                                                    transform: translateY(-50%);
                                                }

                                                &:hover {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .widget_search {
                            width: auto;

                            .widget-wrapper {
                                margin-bottom: 0;

                                form {
                                    &:after {
                                        width: 34px;
                                        background: transparent;
                                        font-size: 14px;
                                        opacity: 0.5;
                                        transition: all .2s ease-in-out;
                                    }

                                    &:hover, &:active {
                                        &:after {
                                            opacity: 1;
                                        }
                                    }

                                    label {
                                        max-width: 100%;

                                        input[type='search'] {
                                            height: 36px;
                                            min-width: 255px;
                                            background: #314248;
                                            border: 2px solid #314248;
                                        }
                                    }

                                    input[type='submit'] {
                                        background: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #footer-copyright {
            padding: 26px 0 19px;

            .footer-copyright {
                &:before {
                    top: -27px;
                }

                .copyright-socials {
                    ul {
                        li {
                            margin-left: 26px;

                            a {
                                i {
                                    font-size: 18px;
                                    color: $white;
                                    opacity: 0.5;
                                    transition: all .2s ease-in;
                                }

                                &:hover {
                                    i {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .stm-icon-time:before {
        color: inherit;
    }

    .stm-listing-print-action {
        .car-action-unit {
            padding-left: 15px;

        }
    }

    .notification-wrapper {
        display: block;

        &.shown {
            .notification-wrap {
                right: 10px;
            }
        }

        .notification-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 10px;
            right: -500px;
            z-index: 100000;
            overflow: hidden;
            padding: 20px;
            transition: all .3s ease-in-out;

            &.success {
                background: $success;
            }

            &.error {
                background: $error;
            }

            .message-container {
                display: block;
                max-width: 250px;

                .message {
                    color: $white;
                }
            }

            .btn-container {
                display: block;

                button {
                    background: transparent;
                    padding: 10px 0 10px 20px;
                    margin: 0 0 0 20px;
                    font-weight: 400;
                    text-transform: capitalize;
                    box-shadow: none;
                    border-left: 1px solid $white;
                    border-radius: 0;

                    &:before, &:after {
                        display: none;
                    }

                    &:focus, &:active {
                        top: 0;
                    }
                }
            }
        }
    }

    &.single-stm_review ul.page-numbers.stm_review_pagination,
    &.post-type-archive-stm_review ul.page-numbers.stm_review_pagination {
        margin-bottom: 40px;
    }

    .stm_icon_filter_title {
        margin-bottom: 10px;
    }

    .stm_listing_icon_filter {
        margin: 0;
        border-bottom: 4px solid $listing_green_dk;
        padding-bottom: 5px;

        &.filter_body {
            a {
                .inner {
                    padding: 5px 5px 18px;

                    .image {
                        padding: 0 17px;
                    }

                    .name {
                        margin-top: 3px;
                    }
                }
            }
        }

        .stm_listing_icon_filter_single {
            .inner {
                padding: 11px 20px 15px;
            }
        }

        a {
            border: solid 1px transparent;
            border-radius: 4px;

            &:hover {
                border: solid 1px $gray-cc;
            }
        }
    }

    .stm_listing_icon_filter.owl-carousel {

        .stm_listing_icon_filter_single {
            margin-bottom: 30px;

            .inner {
                .name {
                    margin-top: 0;
                }
            }
        }

        .owl-item {
            a {
                display: block;
                overflow: hidden;
                position: relative;
                width: 100%;
            }
        }

        .owl-controls {
            display: block;
            width: 100%;
            position: absolute;
            top: 38%;
            transform: translateY(-38%);
            margin: 0;

            .owl-nav {
                display: block;
                z-index: 100;
                width: 100%;
                position: relative;

                .owl-prev, .owl-next {
                    &:hover {
                        background: $listing_blue;
                    }
                }

                .owl-prev {
                    display: block;
                    width: 55px;
                    height: 35px;
                    color: transparent;
                    font-size: 0;
                    position: absolute;
                    background: $gray-dd;
                    border-radius: 5px;
                    top: 50%;
                    left: -85px;
                    transform: translateY(-50%);

                    &:before {
                        display: block;
                        content: '\f053';
                        height: auto;
                        font-family: 'FontAwesome';
                        color: $white;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        font-weight: 400;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                    }
                }
                .owl-next {
                    display: block;
                    width: 55px;
                    height: 35px;
                    color: transparent;
                    font-size: 0;
                    position: absolute;
                    background: $gray-dd;
                    border-radius: 5px;
                    right: -85px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:before {
                        display: block;
                        content: '\f054';
                        height: auto;
                        font-family: 'FontAwesome';
                        color: $white;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        font-weight: 400;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                    }
                }
            }
        }
    }

    .car-listing-row {
        .car-meta-top {
            padding-bottom: 12px;
            border-bottom: 0;
        }

        .car-meta-bottom {
            padding-bottom: 17px;
            border-bottom: 1px solid $gray-cc;

            ul {
                li {
                    i {
                        float: inherit;

                        &.stm-icon-road {
                            top: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1100px) {
        #wrapper {
            .container {
                max-width: 1000px;
            }

            .header-listing {
                .listing-right-actions {
                    margin-top: 0;
                }
            }

            #main {
                .owl-controls {
                    .owl-nav {
                        display: none;
                    }
                }

                .info-wrap span .stm_flipbox .stm_flipbox__back .inner .inner-flex {
                    padding-top: 30px;
                }

                .classic-filter-row {
                    position: relative;
                    z-index: 50;

                    input[type="text"] {
                        height: 40px;
                        line-height: 40px;
                    }

                    .form-group {
                        margin-bottom: 16px;
                    }

                    .filter-price {
                        margin: 7px 0 31px;

                        h5 {
                            margin-bottom: 19px;
                        }
                    }

                    .select2-container--default .select2-selection--single,
                    .select2-container--default .select2-selection--single .select2-selection__rendered {
                        height: 40px;
                        line-height: 40px;
                    }

                    .select2-container--default .select2-selection--single .select2-selection__arrow {
                        height: 40px;
                    }

                    .filter-sidebar {
                        padding: 0 22px 30px;
                        background-color: #fff;
                        -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);
                        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);
                    }

                    .sidebar-entry-header {
                        position: relative;
                        min-height: 40px;
                        padding: 26px 22px 21px 64px;
                        margin: 0 -22px;
                        background-color: #232628;

                        i {
                            position: absolute;
                            top: 32px;
                            left: 21px;
                            font-size: 22px;
                            color: #fff;
                        }

                        .h4 {
                            display: block;
                            padding-top: 10px;
                            color: #fff;
                            font-weight: 700;
                            letter-spacing: -0.3px;
                            font-size: 14px;
                        }
                    }

                    .stm-inventory-sidebar {
                        margin-top: 25px;
                    }
                }
            }

            .mpg-mobile-selector {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: auto;

                .mpg-icon {
                    width: 100%;
                }
            }
        }

        #footer {
            .container {
                max-width: 1000px;
            }
        }
    }

    @media (max-width: 991px) {
        #wrapper {
            .container {
                max-width: 900px;
            }

            #header {
                .header-listing {
                    .listing-right-actions {
                        margin-top: 10px;
                    }

                    .listing-menu {
                        margin-top: 21px !important;
                    }

                    .listing_add_cart {
                        div {
                            i {
                                left: 10px;
                            }
                        }
                    }
                }
            }

            .listing-logo-main {
                margin-top: 4px !important;
            }

            .stm-user-mobile-info-wrapper {
                top: 68px;
            }

            .info-wrap {
                span {
                    .stm_flipbox {
                        .stm_flipbox__front {
                            .inner {
                                .inner-flex {
                                    .ib-title {
                                        max-width: 80%;
                                    }
                                }
                            }
                        }

                        .stm_flipbox__back {
                            .inner {
                                .inner-flex {
                                    padding-top: 20px;

                                    .ib-title {
                                        max-width: 90%;
                                    }

                                    .ib-desc {
                                        margin-top: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #footer {
            .container {
                max-width: 900px;
            }

            #footer-main {
                .footer_widgets_wrapper {
                    .container {
                        .widgets {

                            .widget_nav_menu {
                                .widget-wrapper {
                                    .menu-bottom-menu-container {
                                        ul {
                                            li {
                                                a {
                                                    padding: 0 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .widget_search {
                                .widget-wrapper {
                                    form {
                                        label {
                                            input[type='search'] {
                                                min-width: 200px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .stm-listing-print-action {
            .car-action-unit {
                padding-left: 15px;

                i {
                    top: 50%;
                }
            }
        }
    }

    @media (max-width: 767px) {

    }

    @media (max-width: 750px) {
        .listing-menu-mobile-wrapper {
            .stm-opened-menu-listing {
                top: 58px;
            }
        }

        #wrapper {

            .listing-logo-main {
                margin-top: 0 !important;
            }

            #header {
                .header-listing {
                    padding: 5px 0 9px;

                    .listing-right-actions {
                        margin-top: 5px;
                    }
                }
            }

            .archive-listing-page {
                .listing-list-loop {
                    .image {
                        max-width: 100%;
                        margin-right: 0;
                    }
                }
            }

            .listing-list-loop {
                .image {
                    .rmv_txt_drctn {
                        .image-inner {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .content {
                    .meta-middle {
                        .meta-middle-unit {
                            width: 100%;
                            display: block !important;
                            border-bottom: 1px solid #ddd;
                            padding-bottom: 15px;
                            margin-bottom: 15px;

                            &.meta-middle-divider {
                                display: none !important;
                            }

                            .value {
                                margin-left: 10px;
                                position: relative;
                                top: 4px;
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }

        #footer {
            .footer-copyright {
                .row {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            #footer-main {
                .footer_widgets_wrapper {
                    .container {
                        .widgets {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {

    }

    @media (max-width: 600px) {

    }

    @media (max-width: 500px) {
        #footer {
            #footer-main {
                .footer_widgets_wrapper {
                    .container {
                        .widgets {

                            .widget_text {
                                .widget-wrapper {
                                    margin-top: 10px !important;
                                    margin-bottom: 20px !important;
                                }
                            }

                        }
                    }
                }
            }

            #footer-copyright {
                .copyright-text {
                    text-align: center;
                }
            }
        }

        .info-wrap {
            padding: 20px 0 20px;

            span {
                .stm_flipbox {
                    .stm_flipbox__back {
                        .inner {
                            .inner-flex {
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }

        .stm-listing-print-action {
            .car-action-unit {
                padding-left: 15px;

                i {
                    top: 6px;
                }
            }
        }

        .checker {
            margin-right: 3px !important;
        }

        .listing-list-loop .content {
            margin-top: -48px;
        }

        .special-label {
            width: 230px !important;
            font-size: 12px !important;
            height: 30px;
            line-height: 32px;
            top: 23px;
            left: -81px;
        }

        .lOffer-account {
            padding-top: 0;
        }

        .stm_select_overflowed .select2-dropdown.select2-dropdown--above {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 46px;
        }
    }

    @media (max-width: 430px) {

    }

    @media (max-width: 340px) {
        #footer {
            #footer-main {
                .footer_widgets_wrapper {
                    .container {
                        .widgets {
                            .widget_nav_menu {
                                .widget-wrapper {
                                    .menu-bottom-menu-container {
                                        ul {
                                            flex-direction: column;

                                            li {
                                                a {
                                                    &:after {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@import 'sass/responsive';
@import '../stm_motors_review_colors';