@import "colors";
@import "mixins";

.stm-template-equipment {

    h1, .h1 {
        font-weight: 900;
    }

    .stm-h3-styling {
        display: block;
        font-size: 30px;
        line-height: 1;
        font-weight: 900 !important;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 20px !important;
        margin-bottom: 40px !important;

        &:before {
            content: '';
            display: block;
            width: 38px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $primary;
        }
    }

    .colored {
        color: $primary;
    }

    table {
        > tbody {
            tr {
                td {
                    border-bottom: 1px solid $black-33;
                }
            }
        }
    }

    hr {
        border-top: 1px solid $black-33;
    }

    .form-hr {
        background-color: $black-33;
    }

    ul.list-style-1 {
        li {
            color: $gray-96;
        }
    }

    &.home h3.vc_custom_heading {
        display: block;
        font-size: 30px;
        font-weight: 900 !important;
        text-transform: uppercase;
        position: relative;
    }

    .select2-container--default{
        &.select2-container--disabled {
            .select2-selection--single {
                opacity: 1;
            }
        }

        .select2-selection--single {
            .select2-selection__rendered {
                color: $dark-equip;
            }
        }
    }

    .wpb_heading {
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 32px !important;

        &:before {
            content: '';
            display: block;
            width: 38px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $primary;
        }
    }

    .wpb_tour_tabs_wrapper{
        &.stm_tabs_style_2 {

            ul.wpb_tabs_nav {
                > li.ui-state-active {
                    a {
                        color: $listing_four_dk;
                    }
                }
            }

            .wpb_tab.ui-tabs-panel {
                .icon-box {

                    .icon {
                        i {
                            color: $listing_four_dk;
                        }
                    }

                    .icon-text {
                        h4.title {
                            font-weight: 900 !important;
                            text-transform: uppercase;
                            color: $listing_four_dk;
                        }
                    }
                }
            }
        }
    }

    .vc_tta-accordion {
        .vc_tta-panels-container {
            .vc_tta-panels {
                border-bottom: 1px solid $black-33;

                .vc_tta-panel {
                    border-top: 1px solid $black-33;
                }
            }
        }
    }

    .vc_single_image-wrapper {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.15);
            z-index: 1;
            opacity: 0;
            transition: all .2s ease-in-out;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &.page {
        a.button {
            box-shadow: none;
        }

        .stm-contact-us-form-wrapper {
            background: #1d1f1f;

            .contact-us-label {
                color: $gray-aa;
            }

            input[type="submit"] {
                box-shadow: none;
            }
        }
    }

    .stm-service-contact-us-form-wrapper {
        .row {
            .col-md-12 {
                margin-top: 5px;

                p {
                    margin-top: 3px;

                    input[type='submit'] {
                        padding: 18px 43px 16px;
                    }
                }
            }
        }

        input[type='text'], input[type='email'] {
            height: 40px;
            line-height: 40px;
            padding: 0 11px;
        }

        textarea {
            padding: 10px 11px;
        }

        input[type='submit'] {
            box-shadow: none;
        }
    }

    .button {
        box-shadow: none;
    }

    .single-add-to-compare {
        .single-add-to-compare-left {
            .add-to-compare-icon {
                color: $dark-equip;
            }

            .h5 {
                color: $dark-equip !important;
            }
        }
    }

    .compare-fixed-link {
        border-color: $dark-equip;
        color: $dark-equip !important;
    }

    .sidebar-area-vc {
        @media (max-width: 1024px) {
            margin-left: unset;
        }
    }

    input[type='submit'] {
        box-shadow: none;
        color: $dark-equip !important;
    }

    #top-bar {
        .top-bar-wrapper {
            padding: 15px 0;
            border-bottom: 0;
        }
    }

    #header {
        padding: 21px 0 0;
        margin-bottom: 10px;

        .header-listing {
            .header-inner-content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;

                .listing-logo-main {
                    width: 20%;
                }

                .listing-service-right {
                    width: 80%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-start;
                    align-items: center;

                    .listing-menu {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        list-style: none;
                        margin: 5px auto 0 0;
                        padding: 0;

                        @media(max-width: 1023px) {
                            display: none;
                        }

                        >li {
                            padding: 0 15px;
                            margin-bottom: 0;
                            position: relative;

                            >a {
                                display: block;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 32px;
                                text-transform: uppercase;
                                text-decoration: none;
                                padding-bottom: 18px;
                                position: relative;

                                &:after {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 3px;
                                    background: $primary;
                                    position: absolute;
                                    bottom: 0;
                                    opacity: 0;
                                }
                            }

                            &.current-menu-item {
                                a:after {
                                    opacity: 1;
                                }
                            }
                        }

                        & > li {
                            & > .sub-menu {
                                z-index: 10;

                                &:before {
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    top: -30px;
                                    height: 30px;
                                    width: 100%;
                                    background-color: transparent;
                                    opacity: 0;
                                }
                            }
                            & > a {
                                &:hover:after {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: scale(1);
                                }
                            }
                            &.current-menu-item {

                            }
                            &.menu-item-has-children {
                                //padding-right: 30px;

                                a {
                                    position: relative;

                                    &:before {
                                        @include pseudo();
                                        @include fa();
                                        content: "\f107";
                                        top: 9px;
                                        right: -20px;
                                    }
                                }

                                > a {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                            &:hover {
                                & > ul {
                                    visibility: visible;
                                    top: 100%;
                                    opacity: 1;
                                }
                            }
                            //Second LVL depth menu
                            & > ul {
                                visibility: hidden;
                                opacity: 0;
                                padding: 0;
                                margin-top: 0;
                                list-style: none;
                                position: absolute;
                                width: 250px;
                                top: 115%;
                                left: 0;
                                background-color: #1d1f1f;
                                @include box-shadow(1px, 2px, 4px, rgba(100, 100, 100, 0.1));

                                li {
                                    display: block;
                                    position: relative;
                                    margin: 0 !important;
                                    padding: 0;
                                    text-align: left;

                                    &.menu-item-has-children {
                                        & > a {
                                            &:after {
                                                @include pseudo();
                                                @include fa();
                                                top: 50%;
                                                margin-top: -7px;
                                                right: 20px;
                                                font-size: 14px;
                                                content: "\f105";
                                                transition: none !important;
                                            }
                                        }
                                    }
                                    a {
                                        position: relative;
                                        display: block;
                                        padding: 12px 25px 12px 25px !important;
                                        text-decoration: none !important;
                                        font-weight: 400;
                                        color: $white;

                                        &:before {
                                            display: none !important;
                                        }

                                        &:hover {
                                            background-color: $primary;
                                        }
                                    }
                                    //Third LVL depth menu
                                    & > ul {
                                        visibility: hidden;
                                        opacity: 0;
                                        padding: 0;
                                        list-style: none;
                                        position: absolute;
                                        width: 250px;
                                        top: 0;
                                        left: 105%;
                                        margin-top: 0;
                                        background-color: #1d1f1f;
                                        @include box-shadow(1px, 7px, 10px, rgba(100, 100, 100, 0.1));
                                        z-index: -1;
                                        & li {
                                            //Fourth LVL depth menu
                                            & > ul {
                                                visibility: hidden;
                                                opacity: 0;
                                                padding: 0;
                                                list-style: none;
                                                position: absolute;
                                                width: 250px;
                                                top: 0;
                                                left: 105%;
                                                background-color: #1d1f1f;
                                                @include box-shadow(1px, 7px, 10px, rgba(100, 100, 100, 0.1));
                                                z-index: -1;
                                                & li {
                                                    //Fifth LVL depth menu
                                                    & > ul {
                                                        visibility: hidden;
                                                        opacity: 0;
                                                        padding: 0;
                                                        list-style: none;
                                                        position: absolute;
                                                        width: 250px;
                                                        top: 0;
                                                        left: 105%;
                                                        background-color: #1d1f1f;
                                                        @include box-shadow(1px, 7px, 10px, rgba(100, 100, 100, 0.1));
                                                        z-index: -1;
                                                    }
                                                    &:hover {
                                                        & > ul {
                                                            visibility: visible;
                                                            left: 100%;
                                                            opacity: 1;
                                                        }
                                                    }
                                                }
                                            }
                                            &:hover {
                                                & > ul {
                                                    visibility: visible;
                                                    left: 100%;
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                    &:hover {
                                        & > ul {
                                            visibility: visible;
                                            left: 100%;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .listing-right-actions {
                        margin-top: -23px;

                        @media (max-width: 1023px) {
                            display: none;
                        }
                    }

                    .head-phone-wrap {
                        text-align: right;

                        @media (max-width: 1023px) {
                            display: none;
                        }

                        .ph-title {
                            font-size: 10px;
                            font-weight: 700;
                            line-height: 20px;
                            color: $primary;
                            text-transform: uppercase;
                            margin-bottom: 5px;

                            .fa {
                                font-size: 14px;
                                margin-right: 5px;
                            }
                        }

                        .phone {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 18px;
                        }
                    }

                    .mobile-menu-trigger {
                        display: none;
                        position: relative;
                        margin-bottom: 20px;

                        @media (max-width: 1023px) {
                            display: block;
                        }
                    }
                }

                .mobile-menu-holder {
                    display: none;
                    position: absolute;
                    top: 73px;
                    right: 0;

                    .header-menu {
                        background: $dark-equip;
                        min-width: 290px;
                        margin: 0;

                        li {
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .entry-header {
        display: block;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        position: relative;

        >.container {
            min-height: 317px;
        }
    }

    #wrapper {
        padding-bottom: 95px;


    }

    .special-label {
        left: unset;
        right: -91px;
        transform: rotate(45deg) translateZ(0);
    }

    &.single-listings {
        #wrapper {
            padding-bottom: 0;
            position: relative;
            z-index: 1;

            #header {
                margin-bottom: 0;
            }

            #main {
                .stm-equip-single-car-page {
                    .stm-listing-single-price-title {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        border-bottom: 1px solid rgba(170,170,170,0.4);
                        padding: 0 0 25px 0;
                        margin-bottom: 26px;

                        @media (max-width: 450px) {
                            flex-wrap: wrap;
                        }

                        .listing-title-wrap {
                            display: block;
                            max-width: 70%;

                            @media (max-width: 1000px) {
                                max-width: 70%;
                            }

                            @media (max-width: 450px) {
                                max-width: 100%;
                            }

                            .terms-wrap {
                                line-height: 13px;
                                font-size: 13px;
                                margin-bottom: 6px;

                                a {
                                    color: $white;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                }
                            }

                            .title {
                                display: block;
                                position: relative;
                                width: 100%;
                                font-size: 32px;
                                font-weight: 900;
                                line-height: 32px;
                                text-transform: uppercase;
                                margin-bottom: 0;

                                @media (max-width: 1000px) {
                                    white-space: normal;
                                }

                                .labels {
                                    display: inline-block;
                                    color: $primary;
                                }
                            }
                        }

                        .price-wrap {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            margin: 0 0 0 auto;

                            @media (max-width: 450px) {
                                margin: 20px auto 0 0;
                            }

                            .rent-price-wrap {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                background-color: $dark-equip;
                                color: $white;
                                padding: 7px 15px;

                                .label {
                                    padding: 0;
                                    margin: 0;
                                    font-size: 11px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    line-height: 14px;
                                }

                                .price {
                                    font-size: 13px;
                                    font-weight: 700;

                                    span{
                                        font-size: 20px;
                                        font-weight: 900;
                                    }
                                }
                            }

                            .price_unit {
                                display: flex;
                                flex-direction: column;
                                background-color: $primary;
                                color: $dark-equip;
                                justify-content: center;
                                padding: 7px 15px;

                                .stm_label, .stm_custom_label {
                                    padding: 0;
                                    margin: 0;
                                    font-size: 11px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    line-height: 14px;
                                    color: $dark-equip;
                                }

                                .inner {
                                    font-size: 20px;
                                    font-weight: 900;
                                    color: $dark-equip;
                                }
                            }
                        }
                    }


                    .stm-listing-car-gallery {
                        margin-bottom: 20px;
                        .stm-car-medias {
                            position: absolute;
                            top: 16px;
                            left: 16px;
                            z-index: 20;

                            > div {
                                display: inline-block;
                                margin-right: 9px;
                                padding: 4px 15px 2px 10px;
                                border-radius: 2px;
                                background: rgba(0, 0, 0, 0.3);
                                color: #fff;
                                font-size: 11px;
                                line-height: 22px;
                                font-weight: 600;

                                i {
                                    font-size: 12px;
                                    margin-right: 2px;
                                }

                                span {
                                    position: relative;
                                    top: -1px;
                                    text-transform: uppercase;
                                }

                                &:hover {
                                    cursor: pointer;
                                    background: rgba(0, 0, 0, 0.6);
                                }

                                &.stm-listing-videos-unit {
                                    i {
                                        position: relative;
                                        top: -1px;
                                        left: 1px;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }

                        .stm-gallery-actions {
                            position: absolute;
                            right: 7px;
                            top: 16px;
                            z-index: 20;

                            .stm-gallery-action-unit {
                                position: relative;
                                float: left;
                                width: 28px;
                                height: 28px;
                                margin-right: 9px;
                                background: rgba(0, 0, 0, 0.3);
                                text-align: center;
                                line-height: 28px;
                                overflow: hidden;
                                border-radius: 2px;

                                i {
                                    color: #fff;
                                }

                                &:hover {
                                    cursor: pointer;
                                }

                                &.active {
                                    background: -webkit-linear-gradient(90deg, #609bd1 0%, #4782b8 100%);
                                    background: -webkit-linear-gradient(top, #609bd1 0%, #4782b8 100%);
                                    background: linear-gradient(180deg, #609bd1 0%, #4782b8 100%);
                                }

                                .st_sharethis_large {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    opacity: 0;
                                }
                            }
                        }

                        .boats-image-unit {
                            position: absolute;
                            top: 14px;
                            left: 15px;
                            z-index: 100;
                        }

                        .stm-listing-photos-unit,
                        .stm-listing-videos-unit {
                            display: inline-block;
                            padding: 1px 7px;
                            vertical-align: top;
                            font-size: 11px;
                            text-transform: uppercase;
                            background: rgba(0, 0, 0, 0.5);
                            border-radius: 3px;
                            color: #fff !important;
                            cursor: pointer;

                            &:hover {
                                background: black;
                            }

                            i {
                                margin-right: 3px;
                                font-size: 12px;

                                &:before {
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: inherit;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    -webkit-transform: translate(0, 0);
                                    transform: translate(0, 0);
                                }
                            }
                        }

                        .stm-listing-photos-unit {
                            margin-right: 5px;

                            i:before {
                                content: "\f030";
                            }
                        }

                        .stm-listing-videos-unit i:before {
                            content: "\f008";
                        }

                        .stm-gallery-actions {
                            right: 9px;
                            bottom: 12px;
                            top: inherit;

                            .stm-gallery-action-unit {
                                width: inherit;
                                height: 24px;
                                padding: 0 6px 0;
                                line-height: 22px;
                                background: rgba(0, 0, 0, 0.5);
                                -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;

                                &:hover {
                                    background: black;
                                }

                                i {
                                    position: relative;
                                    top: 2px;
                                    margin-right: 2px;
                                    font-size: 14px;
                                }

                                &.active {
                                    background: $primary;

                                    i{
                                        color: $dark-equip;
                                    }

                                    span {
                                        color: $dark-equip;
                                    }
                                }

                                span {
                                    text-transform: uppercase;
                                    font-size: 11px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .stm-equip-no-wpb {
                        padding-top: 75px;

                        .single-car-data {
                            background: #1d1f1f;
                        }

                        .stm-single-car-links {
                            .stm-single-car-link {
                                a {
                                    background-color: $dark-equip;
                                }
                            }
                        }
                    }
                }

                .stm-single-car-side {
                    @media(max-width: 989px) {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    .vc_tta-container .vc_tta-tabs {
        .vc_tta-tabs-container {
            .vc_tta-tabs-list {
                .vc_tta-tab {
                    a {
                        span {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        &.vc_tta-tabs-position-bottom {

            .vc_tta-panels-container {
                .vc_tta-panels {
                    .vc_tta-panel-body {
                        padding: 0 0 37px 2px !important;
                    }
                }
            }
        }
        .vc_tta-tabs-container {
            //margin: 0 0 37px 0 !important;
            padding-top: 4px;
            .vc_tta-tabs-list {
                margin: 0;
                background-color: transparent;
                border-left: 0;
                border-right: 0;
                overflow: visible;
                padding-bottom: 10px;

                .vc_tta-tab {
                    width: 100%;
                    position: relative;
                    margin: 0 1px;

                    &:before {
                        position: absolute;
                        content: '';
                        display: block;
                        top: unset;
                        bottom: -4px;
                        left: 50%;
                        width: 20px;
                        height: 4px;
                        opacity: 0;
                        background: transparent;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 4px solid $primary;
                        transform: translateX(-50%);
                    }

                    & > a {
                        .vc_tta-icon {
                            position: relative;
                            top: 3px;
                            color: $white;
                        }
                        .vc_tta-title-text {
                            position: relative;
                            top: 1px;
                            left: 2px;
                        }
                        padding: 13px 18px;
                        background-color: rgba(29,31,31,0.8);
                        border-radius: 0;
                        border: none;

                        span {
                            font-size: 12px;
                            text-transform: uppercase;
                            color:$white;
                            font-weight: 700;
                        }
                        .vc_tta-title-text:not(:empty):not(:first-child) {
                            margin-left: 8px;
                        }
                    }

                    &.vc_active {
                        &:before {
                            opacity: 1;
                        }
                        a {
                            background-color: $primary;

                            .vc_tta-icon {
                                position: relative;
                                top: 3px;
                                color: $black-near;
                            }

                            span {
                                color: $black-near;
                            }
                        }
                    }
                }
            }
        }
        .vc_tta-panels-container {
            .vc_tta-panels {
                background-color: transparent !important;
                border: none !important;

                .vc_tta-panel {
                    @media (max-width: 450px) {
                        background: $dark-equip;
                    }
                }

                .vc_tta-panel-body {
                    padding: 15px 30px 30px !important;
                    border: none;
                    background: rgba(14,15,15,0.9);

                    h2, h3, .title {
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: 900;
                        text-transform: capitalize;
                    }

                    .vc_custom_heading {
                        border-bottom: 1px solid rgba(170,170,170,0.4);
                        padding-bottom: 15px;
                        margin-bottom: 25px;
                    }

                    .stm-contact-us-form-wrapper {
                        background: transparent;
                        padding: 0;
                        box-shadow: none;

                        h2 {
                            border-bottom: 1px solid rgba(170,170,170,0.4);
                            padding-bottom: 20px;
                        }

                        .col-md-12.col-sm-12 {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                        .form-group {
                            width: 32%;
                            margin-bottom: 15px;

                            @media (max-width: 450px) {
                                width: 100%;
                            }
                        }

                        input[type='text'], input[type='email'], input[type='tel'], textarea {
                            background: rgba(255,255,255,0.1);
                            border: none;

                            &:active, &:focus {
                                background: $white;
                            }
                        }

                        input[type='submit'] {
                            margin: 0 0 0 auto;
                            background: $primary;
                            box-shadow: none;
                            color: $dark-equip !important;
                            font-size: 14px;
                            letter-spacing: 0;
                        }

                        .ajax-loader {
                            position: absolute;
                            right: -5px;
                            bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    .testimonials-carousel {
        border-top: 1px solid $black-33;
        border-bottom: 1px solid $black-33;

        .owl-controls {
            .owl-next, .owl-prev{
                &:after {
                    font-weight: 900;
                }

                &:hover {
                    &:after {
                        color: $primary;
                    }
                }
            }
        }
    }

    .testimonial-unit {
        .clearfix {
            padding-bottom: 10px;
        }

        .image {
            @media (max-width: 767px) {
                margin-bottom: 25px;
            }
        }

        .content {
            h5 {
                color: $primary;
            }

            p {
                color: $white;
            }
        }

        .testimonial-meta {
            .author {
                font-size: 14px;
                font-weight: 700;
                color: $white;
                margin-right: 0;
            }

            .author-car {
                font-size: 13px;
                font-weight: 400;
                color: $white;
                padding-left: 9px;

                @media (max-width: 375px) {
                    padding-left: 0;
                }

                i {
                    display: none;
                }
            }
        }
    }

    .stm-tech-infos {
        margin-bottom: 31px;

        .stm-tech-title {
            padding-left: 0;
            margin-bottom: 21px;

            .title.h5 {
                color: $primary;
                line-height: 25px !important;
            }
        }

        td {
            border-top: 1px solid rgba(76,77,77,0.5);
            border-bottom: none;
        }

        .text-transform {
            font-size: 12px;
            color: #aaaaaa;
        }

        .h6 {
            font-size: 14px;
            font-weight: 700;
            color: $white;
        }
    }

    .stm-equip-contact-information {
        h4 {
            border-bottom: 1px solid rgba(170,170,170,0.4);
            padding-bottom: 10px;
            margin-bottom: 15px;
        }

        .stm-list-duty {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 0;
                padding-left: 48px;
                min-height: 36px;
                min-width: 175px;
                max-width: 253px;
                margin-right: 30px;
                margin-bottom: 30px;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;

                .icon {
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    margin-top: -15px;
                    font-size: 31px;
                    color: $primary;
                }

                a {
                    color: #fff;
                    text-decoration: underline;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .stm-car-listing-data-single.stm-border-top-unit {
        .title {
            padding-bottom: 15px;
            margin-bottom: 25px;
            border-bottom: 1px solid rgba(170,170,170,0.4);
        }
    }

    .stm-single-listing-car-features {

        ul {
            li {
                &:before {
                    content: '\f061';
                    font-size: 12px;
                }

                color: $white;
                padding-left: 25px;
            }
        }
    }

    .equip-gallery {
        .row {
            margin: 0 -10px;
            .col-md-4 {
                padding: 0 10px;
                margin-bottom: 20px;

                @media (max-width: 450px) {
                    margin-bottom: 20px;
                }

                img {
                    min-height: 140px;
                    object-fit: cover;
                }
            }
        }
    }

    .single-car-data {
        background: #0e0f0f;
        border-top: 3px solid $primary;
        padding: 17px 26px 17px 23px;

        td {
            border-bottom-color: rgba(170,170,170,0.4);
        }

        .t-label {
            font-size: 11px;
            color: #aaaaaa;
            font-weight: 700;
        }

        .t-value {
            font-size: 14px;
            font-weight: 700;
            text-align: right;
        }
    }

    .stm-single-car-links {
        margin-bottom: 20px;
        .stm-single-car-link {
            position: relative;

            &:first-child {
                a {
                    background: $primary !important;
                    color: $dark-equip;

                    i {
                        color: $dark-equip !important;
                    }
                }
            }

            &.unit-stm-moto-icon-chat {
                margin-bottom: 20px;
            }

            .st_sharethis_large {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

            &:hover a {
                background: $primary !important;
                color: $dark-equip;

                i {
                    color: $dark-equip !important;
                }
            }

            a {
                display: block;
                position: relative;
                padding: 15px 20px 13px 60px;
                min-height: 50px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                background: #0e0f0f;
                text-decoration: none !important;

                i {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    color: #aaaaaa;
                    font-size: 19px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }

        position: relative;
        transition: all .1s ease-in;

        &:hover{
            .stm-a2a-popup {
                display: block;
            }
        }

        .stm-a2a-popup {
            display: none;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 0px 0 4px;

            &.stm-a2a-popup-active{
                top: -100%;
                opacity: 1;
                z-index: 30;
            }

            .addtoany_shortcode{
                background: $white;
                padding: 8px 5px 0;
                border-radius: 3px;
                border: 1px solid #dddddd;

                .a2a_kit{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    a {
                        padding: 0 5px;
                        margin: 0;
                        background: transparent !important;
                        min-height: unset;
                        max-height: 40px;
                    }
                }
            }
        }
    }

    .car-listing-row {
        .listing-car-item-meta {
            .car-title {
                color: $white;
            }

            .price {
                color: $dark-equip;

                .regular-price, .sale-price {
                    color: $dark-equip;
                }
            }
        }
    }

    .listing-car-item-inner {
        a{
            margin-top: 8px;
            transition: all .2s ease-in-out;

            &:hover {
                opacity: 1;
                margin-top: 0;
            }
        }
    }

    .stm_auto_loan_calculator {
        input {
            color: $dark-equip;
        }
    }

    .row-compare-features {
        .list-style-2 {
            li {
                color: $white;
            }
        }
    }

    .stm-compact-sidebar {
        border: 0;

        .content {
            p {
                margin: 0;
                font-weight: 700;
            }
        }
    }

    .stm-image-links {
        .stm-image-link {
            .inner {
                background: #ffffff;
            }
        }
    }

    .socials_widget_wrapper {
        .widget_socials {
            li {
                border-radius: 50%;
                overflow: hidden;
                a {

                }
            }
        }
    }

    .owl-controls {
        .stm-owl-prev, .stm-owl-next {
            display: none;
        }

        .owl-dots {
            .owl-dot {
                padding: 4px 8px;

                &.active {
                    padding: 2px 8px 0;
                    span {
                        background: transparent;
                        border: 2px solid $primary;
                        width: 12px;
                        height: 12px;
                    }
                }

                span {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    .stm-our-team {
        a, .heading-font {
            color: $dark-equip;
        }
    }

    .testimonial-unit {
        .testimonial-meta {}

        @media (max-width: 768px) {
            padding-bottom: 35px;
        }
    }

    #footer {
        z-index: 1;
        position: relative;
    }

    .footer_widgets_wrapper {
        .widget_mc4wp_form_widget {
            .stm-mc-unit {
                &:after {
                    content: '\e905';
                    font-family: 'stm-icon';
                }
            }
        }
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .cols_4 aside:nth-child(4n+1) {
            clear: both;
        }
    }

    .stm-working-days {
        border: 3px solid $black-33;
    }
}